.sectionf .image img {
  height: 150px;
}

.lowerdiv .sectionf {
  cursor: pointer;
}

.loading-skeleton {
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
