.navul ul li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  margin-right: 10px;
}

.navul ul li a:hover {
  color: gray;
  font-size: 14px;
}

.active {
  /* Customize active link styles (e.g., font-weight, background-color) */
  font-weight: bold;
  color: #007bff; /* Bootstrap primary color */
}
