.contactitm p {
  font-size: 12px;
}

.contactitm ul li {
  font-size: 12px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  margin-left: -30px;
}

.lowest img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  cursor: pointer;
}
