* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto Slab", serif;
}

.cursor-pointer {
  cursor: pointer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}
